{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6">
        <br>
        <a href="{% url 'patient_list' %}"><button type="button" class="btn btn-primary">Patients</button></a>
        <br><br><br>
        <div class="content-panel table-responsive">
            <h3 class="text-center">{{patient.first_name|title }} {{ patient.last_name|title }} | <small>New Appoinment</small></h3>
            <div class="panel-body">
                <form class="form-horizontal add-form" action="{% url 'patient_add_appointment' patient_id=patient.id %}" method="post" >
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="hidden" name="clinic" value="{{ request.user.user_clinic.clinic.id }}">
                            <label><strong>Doctor</strong></label>
                              <br><select class="form-control" name="doctor_name">
                               <option>Select Doctor</option>
                                {% for doctor in doctors %}
                               <option>{{doctor.name}}</option>
                                   {% endfor %}
                             </select><br>
                            <label><strong>Appointment Date</strong></label>
                            <input type="date" class="form-control appointment_date" name="appointment_date"><br>
                            <input type="hidden" name="patient" value="{{ patient.id }}">
                            <label><strong>Procedure</strong></label>
                            <input type="text" class="form-control procedure" name="procedure" rows="5" placeholder="Please write the procedure here"><br>
                            <button type="button" class="btn btn-primary" style="float: right">Add Appointment Detail</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    $('.document').ready(function () {
        $('.btn-primary').on('click', function () {
            var error = false;
            if ($('.doctor_name').val() == "") {
                $('.name_error').show();
                error = true;
            }
            else {
                $('.name_error').hide();
            }
            var name = jQuery('.detail').val();
                if (name=="detail" || name == "") {
                jQuery('.detail-error').show();
                return false;
                            }
            else{
                $('.detail-error').hide();
            }
            if (error == false) {
                $('.add-form').submit();
            }


        })

    })
    $('.doctor_name').keyup(function () {
        $('.name_error').hide();

    })
    $('.detail').keyup(function () {
        $('.detail-error').hide();

    })

    </script>
{% endblock %}
