{% extends 'base.html' %}

{% block content %}
<div class="col-md-8">
    <a href="{% url 'patient_list' %}"><button type="button" class="btn btn-info btn-lg">Patient List</button></a>
    <br><br><br>
    <div class="content-panel table-responsive">
        <h3 class="text-center">{{patient.patient_id}}||Patient Appointment Detail</h3>
        <div class="panel-body">
            <form class="form-horizontal add-form" action="{% url 'patient_appointment_update' pk=object.id %}" method="post" autocomplete="off">
                <div class="form-group">
                    {% csrf_token %}
                    <div class="col-sm-12 col-md-6">
                        <input type="hidden" name="clinic" value="{{ request.user.user_clinic.clinic.id }}">
                        <label><strong>Added Date</strong></label>
                        <input type="date" class="form-control added_date" name="added_date" value="{{ object.added_date|date:'Y-m-d'}}">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label><strong>Doctor</strong></label>
                        <br>
                        <select class="form-control" name="doctor_name">
                            <option value="{{object.doctor.name}}">{{object.doctor.name}}</option>
                            {% for doctor in doctors %}
                            <option>{{doctor.name}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-md-6">
                        <input type="hidden" name="patient" value="{{ patient.id }}">
                        <label><strong>Procedure</strong></label>
                        <textarea class="form-control procedure" name="procedure" rows="5">{{ object.procedure}}  </textarea>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label><strong>Description</strong></label>
                        <textarea class="form-control description" name="description" rows="5"> {{ object.description}} </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-md-12">
                    <label><strong>Appointment Date</strong></label>
                    <input type="date" class="form-control appointment_date" name="appointment_date" value="{{ object.appointment_date|date:'Y-m-d'}}"><br>
                    <label><strong>Clinical Notes</strong></label>
                    <textarea class="form-control clinical_notes" name="clinical_notes" rows="5"> {{ object.clinical_notes}} </textarea><br>
                    <input type="hidden" name="patient" value="{{ patient.id }}">
                    <button type="button" class="btn btn-info update" style="float: right">Update Appointment</button>
                </div>
        </div>
        </form>
    </div>
</div>
</div>
<script>
    $('.document').ready(function () {
        $('.update').on('click', function () {
            var error = false;
            if ($('.doctor_name').val() == "") {
                $('.name_error').show();
                error = true;
            }
            else {
                $('.name_error').hide();
            }
            var name = jQuery('.detail').val();
                if (name=="detail" || name == "") {
                jQuery('.detail-error').show();
                return false;
                            }
            else{
                $('.detail-error').hide();
            }
            if (error == false) {
                $('.add-form').submit();
            }


        })

    })
    $('.doctor_name').keyup(function () {
        $('.name_error').hide();

    })
    $('.detail').keyup(function () {
        $('.detail-error').hide();

    })

    </script>
{% endblock %}
