{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6">

        <div class="content-panel">
            <h3 class="text-center">Update Patient</h3>
            <div class="panel-body">
                <form class="form-horizontal add-submit" action="{% url 'patient_update' pk=patient.id %}" method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-12     ">
                            <span class="name_error" style="color: red; display: none">Paitent Name is Required</span>
                            <label><strong>First Name</strong></label>
                            <input type="text" class="form-control first_name" name="first_name"  value="{{ patient.first_name}}"><br>
                            <label><strong>Last Name</strong></label>
                            <input type="text" class="form-control last_name" name="last_name"  value="{{ patient.last_name}}"><br>
                            <label><strong>Patient ID</strong></label>
                            <input type="text" class="form-control patient_id" name="patient_id"  value="{{ object.patient_id}}" readonly><br>
                            <span class="phone_error" style="color: red; display: none">please add Phone Number</span>
                            <label><strong>Phone</strong></label>
                            <input type="text"  class="form-control phone" name="phone"  value="{{ patient.phone}}"><br>
                            <label><strong>Cnic</strong></label>
                            <input type="text" class="form-control cnic" name="cnic" value="{{ patient.cnic }}"><br>
                            <span class="birth-error" style="color: red; display: none">Please Provide D.O.B</span>
                            <label><strong>D.O.B</strong></label>
                            <input type="date" class="form-control date_of_birth" name="date_of_birth" value="{{ patient.date_of_birth|date:'Y-m-d' }}" ><br>
                            <label><strong>Sex</strong></label>
                            <select class="form-control sex-option" name="sex"  value="{{ patient.date_of_birth|date:'Y-m-d'}}">
                                <option>male</option>
                                <option>female</option>
                            </select><br>
                            <label><strong>Blood Group</strong></label>
                            <select class="form-control blood-group" name="blood_group"  value="{{ patient.blood_group}}">
                                <option>A+</option>
                                <option>A-</option>
                                <option>AB+</option>
                                <option>AB-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>O+</option>
                                <option>O-</option>
                            </select><br>
                            <input type="hidden" name="clinic" value="{{ request.user.user_clinic.clinic.id }}">
                            <button type="button" class="btn btn-primary" style="float: right">Update Patient</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    $('.document').ready(function () {
        $('.btn-primary').on ('click', function () {
                var error = false;
            if ($('.first_name').val()==""){
                $('.name_error').show();
                error = true;
            }
            else {
                $('.name_error').hide()
            }
            if ($('.phone').val()==""){
                $('.phone_error').show();
                error = true;
            }
            else{
                $('.phone_error').hide();
            }
            if ($('.date_of_birth').val()==""){
                $('.birth-error').show();
                error = true;
            }
            else {
                $('.birth-error').hide();
            }
            if (error == false ){
                $('.add-submit').submit();
            }

        })
    });
    $('.first_name').keyup(function () {
        $('.name_error').hide();
    })
    $('.phone').keyup(function () {
        $('.phone_error').hide();
    })
    $('.date_of_birth').keyup(function () {
        $('.birth-error').hide();
    })

    </script>


{% endblock %}
