{% extends 'base.html' %}

{% block content %}
<style>
    label{
        color:#000;
        font-size:16px;
    }
</style>
<div class="col-md-6 col-md-offset-3">
    <a href="{% url 'appointment_list' %}"><button type="button" class="btn btn-info btn-lg" >Appointments</button></a>
    <button class="btn btn-info btn-lg print-receipt"  onclick="PrintDetails('printablediv')">Print Receipt</button>
    <br><br>
    <div class="content-panel" id="printablediv">
        <div class="text-center">
            <h1>Receipt</h1>
            <h4>{{ bill.clinic.name }}</h4>
            <p>Address : {{ bill.clinic.address }}</p>
            <p>Contact No : {{ bill.clinic.phone }}</p>
            <hr>
        </div>
        <div class="col-md-12">
            <label class="pull-right">Recept No : {{ bill.receipt_no }}</label>
            <label class="pull-left">Bill Date : {{ bill.billing_date }}</label>
            <br>
            <br>
            <label>Doctor : {{bill.appointment.doctor.name|title}}</label>
            <br>
            <label>Patient Name : {{ bill.appointment.patient.first_name|title }} {{ bill.appointment.patient.last_name|title }}</label>
            <br>
            <label>Patient Id : {{ bill.appointment.patient.patient_id }}</label>
            <br>
            <label>Patient Phone : {{ bill.appointment.patient.phone }}</label>
            <br>

        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="4" class="text-center"></th>
                <th colspan="1" class="text-center"><i class=" fa fa-edit"></i> Amount</th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr>
                <td colspan="4"></td>
                <td colspan="1">Rs. {{ bill.amount|floatformat:-2 }} </td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>&nbsp</td>
            </tr>
            <tr>
                <td colspan="4"><strong>Sub Total:</strong></td>
                <td><strong>Rs. {{ bill.amount|floatformat:-2 }}</strong></td>
            </tr>
            <tr>
                <td colspan="4"><strong>Discount: </strong></td>
                <td><strong>Rs. {{ bill.discount|floatformat:-2 }}</strong></td>
            </tr>
            <tr>
                <td colspan="4"><h4><strong>Total: </strong></h4></td>
                <td class="text-danger"><h4><strong>Rs. {{ bill.paid_amount|floatformat:-2 }}</strong></h4></td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12 content-panel">
            <h3 class="text-center">thank You</h3>
            <p class="text-center">Software Developed by partum-Solutions</p>
            <label class="pull-right">www.partumsolutions.com</label>
            <label class="pull-left">Phone: 0812-821849</label>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
        function PrintDetails(divName){
             var printContents = document.getElementById(divName).innerHTML;
             var originalContents = document.body.innerHTML;
             document.body.innerHTML = printContents;
             window.print();
             document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}