{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12">
            <br>
            <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-primary">Home</button></a>
            <a href="{% url 'doctor_add' %}"><button type="button" class="btn btn-primary">Add Doctor</button></a>
            <br><br><br>
            <div class="content-panel">
                <table class="table table-striped table-advance table-hover patient-table">
                    <h2 class="text-center">Patient List</h2>
                    <div class="input-group custom-search-form col-md-4" style="left: 5px">
                        <input type="text" class="form-control search-patient" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <hr>
                    <thead>
                    <tr>
                        <th>Doctor Name</th>
                        <th>Doctor ID</th>
                        <th>Phone</th>
                        <th>Date of Birth</th>
                        <th>Designation</th>
                        <th>Sex</th>
                        <th>Blood Group</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="patient-table-body">
                    {% for doctor in object_list %}
                        <tr>
                            <td><a href="#">{{ doctor.name|title }}</a></td>
                            <td class="hidden-phone">{{ doctor.doctor_id }}</td>
                            <td>{{ doctor.mobile }}</td>
                            <td>{{ doctor.date_of_birth  }}</td>
                            <td>{{ doctor.designation|title  }}</td>
                            <td>{{ doctor.sex|title }}</td>
                            <td>{{ doctor.blood_group }}</td>
                            <td>
                                <a href="#"><button class="btn btn-primary btn-xs" style="background-color: #d8bc60; border-color: #d8bc60 " title="Edit Patient"><i class="fa fa-edit"></i></button></a>
                                <a href="#"><button class="btn btn-primary btn-xs"><i class="fa fa-plus"></i></button></a>
                                <a href="#"><button class="btn btn-success btn-xs"><i class="fa fa-eye"></i></button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
