{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="col-lg-9 main-chart">

    <div class="row">
        <!-- TWITTER PANEL -->
        <div class="col-md-3 mb">
            <div class="darkblue-panel pn">
                <div class="darkblue-header">
                    <h5>Total No. of Patients Today</h5>
                </div>
                <canvas id="serverstatus01" height="120" width="120"></canvas>
                <script>
                        var doughnutData = [
                            {
                                value: 60,
                                color:"#68dff0"
                            },
                            {
                                value : 40,
                                color : "#444c57"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                    </script>
                <p>June 17, 2014</p>
                <footer>
                    <div class="pull-left">
                        <h5><i class="fa fa-hdd-o"></i> {{ total_patients }} Patients</h5>
                    </div>
                    <div class="pull-right">
                        <h5></h5>
                    </div>
                </footer>
            </div><! -- /darkblue panel -->
        </div><!-- /col-md-4 -->
        <div class="col-md-3 mb">
            <div class="darkblue-panel pn">
                <div class="darkblue-header">
                    <h5>Total No. of Bill Today</h5>
                </div>
                <canvas id="serverstatus02" height="120" width="120"></canvas>
                <script>
                        var doughnutData = [
                            {
                                value: 45,
                                color:"#68dff0"
                            },
                            {
                                value : 55,
                                color : "#444c57"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                    </script>
                <p>March 01, 2018</p>
                <footer>
                    <div class="pull-left">
                        <h5><i class="fa fa-hdd-o"></i> {{ total_bills }} bills</h5>
                    </div>
                    <div class="pull-right">
                        <h5></h5>
                    </div>
                </footer>
            </div><! -- /darkblue panel -->
        </div><!-- /col-md-4 -->
        <div class="col-md-3 mb">
            <div class="darkblue-panel pn">
                <div class="darkblue-header">
                    <h5>Total No. of Patients</h5>
                </div>
                <canvas id="serverstatus03" height="120" width="120"></canvas>
                <script>
                        var doughnutData = [
                            {
                                value: 30,
                                color:"#68dff0"
                            },
                            {
                                value : 70,
                                color : "#444c57"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("serverstatus03").getContext("2d")).Doughnut(doughnutData);
                    </script>
                <p>April 01, 2018</p>
                <footer>
                    <div class="pull-left">
                        <h5><i class="fa fa-hdd-o"></i>{{ total_patients}} Patients</h5>
                    </div>
                    <div class="pull-right">
                        <h5>Total</h5>
                    </div>
                </footer>
            </div>
        </div>
        <div class="col-md-3 mb">
            <div class="darkblue-panel pn">
                <div class="darkblue-header">
                    <h5>Overall Total Bills</h5>
                </div>
                <canvas id="serverstatus04" height="120" width="120"></canvas>
                <script>
                        var doughnutData = [
                            {
                                value: 45,
                                color:"#68dff0"
                            },
                            {
                                value : 55,
                                color : "#444c57"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("serverstatus04").getContext("2d")).Doughnut(doughnutData);
                    </script>
                <p>March 01, 2018</p>
                <footer>
                    <div class="pull-left">
                        <h5><i class="fa fa-hdd-o"></i> {{ bill_today }} Amount</h5>
                    </div>
                    <div class="pull-right">
                        <h5>Total</h5>
                    </div>
                </footer>
            </div><! -- /darkblue panel -->
        </div><!-- /col-md-4 -->
    </div>
    <div class="row">
        <div class="col-md-9 mb">
            <div id="bill-graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div><!-- /col-lg-9 END SECTION MIDDLE -->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
Highcharts.chart('bill-graph', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Monthly Average Rainfall'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: {
        categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Rainfall (mm)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:20">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Tokyo',
        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

    },/*  {
        name: 'New York',
        data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

    },  *//* {
        name: 'London',
        data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

    }, */ /* {
        name: 'Berlin',
        data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

    } */]
});

</script>
    <!-- **********************************************************************************************************************************************************
    RIGHT SIDEBAR CONTENT
    *********************************************************************************************************************************************************** -->
{% endblock %}
